body {
    background-image: url(https://cdn.shopify.com/s/files/1/0747/3829/products/mz1286_1024x1024.jpeg?v=1485014996);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B1B35;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: aquamarine;
    border: double;
    border-color: mediumpurple;
}

input {
    color: orangered;
    background-color: darkred;
    border-color: darkred;
}


.button3 {
    background-color: #0B1B35; 
    color: white; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}





.button {
    display: block;
    width: 375px;
    height: 10px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}










video {
    display: block;
margin: 0 auto;
}




a {
   color: #5900b3;
   text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
width: 50%
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

iframe {
height: 360px;
width: 637px;
margin: 0 auto;
}

