body {
    background-image: url(https://images2.alphacoders.com/743/thumb-1920-743924.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: aqua;
    border: double;
    border-color: darkblue;
    background-color: grey;
    opacity: 0.75;
}

input {
    color: aqua;
    background-color: aqua;
    border-color: aqua;
}


.button3 {
    background-color: black; 
    color: white; 
    border: 2px solid aqua;
}

.button3:hover {
    background-color: aqua;
    color: black;
}





.button {
    display: block;
    width: 375px;
    height: 10px;
    background: darkcyan;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}










video {
    display: block;
margin: 0 auto;
}




a {
   color: #5900b3;
   text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
width: 33%
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

iframe {
height: 360px;
width: 637px;
margin: 0 auto;
}

